{% extends 'base.html' %}

{% block title %}
Кабинет {{ current_user.login }}
{% endblock %}

{% block body %}

    <div class="login-container">
    <h1>Личный кабинет</h1>
    <hr>
    <p>ID: {{ current_user.id }}</p>
    <p>Никнейм: {{ current_user.nickname }}</p>
    <p>Логин: {{ current_user.login }}</p>
    <hr>
    <p><a href="{{ url_for('logout') }}">Выйти из аккаунта</a></p>
    <button class="btn btn-danger" id="open-modal-btn">Удалить аккаунт</button>
    </div>

<!-- Модальное окно -->
    <div class="modal" id="my-modal">
        <div class="modal-content">
            <button class="btn-close" id="cancel-deletex-btn"></button>
            <p>Вы уверены, что хотите удалить аккаунт?</p>
            <p class="blinking-text">Ваши записи также будут удалены!</p>
            <button class="btn btn-danger" id="confirm-delete-btn">Да, удалить</button>
            <button class="btn btn-primary" id="cancel-delete-btn">Отмена</button>
        </div>
    </div>

    <script defer src="{{ url_for('static', filename='js/WindowToDelete.js') }}"></script>
{% endblock %}